*
!.gitignore
!Default/
!Default/*
!User/
!User/*
!C++/
!C++/*
!Python/
!Python/*
!Kivy/
!Kivy/*
User/Preferences.sublime-settings
User/Package Control.sublime-settings
User/Package Control.last-run
User/Package Control.ca-list
User/Package Control.ca-bundle
User/Package Control.merged-ca-bundle
User/Package Control.system-ca-bundle
User/Package Control.user-ca-bundle
User/Package Control.cache/
User/Package Control.ca-certs/
User/encoding_cache.json

.DS_Store

User/C#.sublime-settings
User/UnityC#.sublime-settings
