/Autocompletion
/AutoHotkey
/backrefs
/bz2
/Codecs33
/Colorsublime - Themes
/User/Color Highlighter
/ConvertToUTF8
/EncodingHelper
/GL Shader Validator
/Gobble
/jsonschema
/LaTeXTools
/markupsafe
/mdpopups
/OmniSharp
/orgmode
/pymdownx
/pyyaml
/pygments
/pymdownx
/python-markdown
/python-jinja2
/pyyaml
/PICO-8
/sublime-PICO-8
/shellenv
/SublimeCodeIntel
/SublimeGDB
/SublimeHighlight
/SublimeLinter
/SublimePythonIDE
/SublimeREPL
/SyntaxFold

/User/SublimeLinter
# Sublime Linter settings backup
*.orig

# orgmode archive
*.gz

/Package Control.cache/
/User/ANSIescape/*.tmTheme
/User/Haxe.cache/
/User/Preferences.sublime-settings
#/User/Package Control.sublime-settings
/User/Package Control.last-run
/User/Package Control.ca-list
/User/Package Control.ca-bundle
/User/Package Control.merged-ca-bundle
/User/Package Control.system-ca-bundle
# successor or User/Package Control.system-ca-bundle
User/oscrypto-ca-bundle.crt
/User/Package Control.user-ca-bundle
/User/Package Control.cache/
/User/Package Control.ca-certs/
/User/*.crt
/User/encoding_cache.json

.DS_Store

*.sublime-workspace

/User/Projects/

/User/C#.sublime-settings
/User/UnityC#.sublime-settings
/User/Preferences.sublime-settings
/User/.SublimeREPLHistory/*.db
/User/PICO-8.sublime-settings
